.Wallet {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Wallet__details {
    margin-top: 15px;
}

.Wallet__balance {
    display: flex;
    align-items: center;
    justify-content: center;
    
    & h3 {
        margin-right: 20px;
    }
}

.Wallet__connect {
    margin-top: 20px;

    & button {
        margin-left: 15px;
    }
}



